.column-divider {
  align-self: stretch;
  width: 1px;
  background-color: var(--b10);
}
.row-divider {
  width: 100%;
  height: 1px;
  background-color: var(--b10);
}
.info-list__part-col {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.info-list__item--col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
#sounds {
  .info-list__part {
    background-color: var(--w48);
    padding: 12px;
    border-radius: 8px;
    min-width: 66px;
    text-align: center;
  }

  .--grid-three-columns {
    justify-items: start;
    align-items: start;
  }
  .info-list__part--column {
    text-align: start;
  }
  .info-list__part--boxed {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

#numbers {
  table {
    border-collapse: collapse;
  }

  th,
  td {
    border-right: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
  }

  tr > *:last-child {
    border-right: none;
  }

  tbody tr:last-child > * {
    border-bottom: none;
  }

  th {
    text-align: start;
    vertical-align: top;
    padding: 0 4px 6px;
  }

  td {
    color: var(--b64);
    padding: 6px 4px;
    vertical-align: top;
  }

  .info-list__part {
    display: flex;
    gap: 8px;
  }
}

#colors {
  .color-palette {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 8px;
  }
  .color-palette__element {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px;
    border-radius: 12px;
  }
}
#noun {
  .info-list__name--row {
    border-bottom: 2px solid var(--w);
  }

  .info-list__part {
    display: flex;
    gap: 8px;
  }
}
#indefinite-article,
#noun-quantifiers {
  .--grid-three-columns {
    gap: 8px;
    justify-items: start;
    align-items: start;
  }

  .info-list__part--row {
    text-align: start;
  }
}
#pronouns {
  .info-list__part--row {
    align-items: center;
  }
}
#present-simple {
  .info-list__part--row {
    text-align: start;
  }
}
#to-be {
  .info-list__name--row {
    border-bottom: 2px solid var(--w);
  }
}
#word-order {
  .info-list__part--row {
    text-align: start;
  }
}
#there-is-are {
  .--grid-three-columns {
    justify-items: start;
    align-items: start;
    gap: 8px;
  }
  .info-list__name--row {
    align-items: center;
  }
  .info-list__item {
    align-items: flex-start;
  }
}
#prepositions-of-place {
  .--grid-two-columns {
    justify-items: normal;
  }
}
#noun-quantifiers {
  .pseudo-table {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .column-divider {
      width: 2px;
    }
    .row-divider {
      height: 2px;
    }
  }
  .pseudo-table__row {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .pseudo-table__data {
      display: flex;
      gap: 8px;
    }
  }

  .pseudo-table__cell {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
#pronouns {
  .--grid-two-columns {
    justify-items: normal;
  }
  .info-list__item--col {
    overflow: hidden;
    padding-bottom: 0;
    svg {
      overflow: visible;
    }
  }
}
#adjectives-comparison {
  .info-list--row {
    .info-list__item {
      align-items: flex-start;
      justify-content: start;
    }
  }
  .info-list__part--column {
    text-align: start;
    gap: 4px;
  }
  .info-list__part--row {
    text-align: start;
  }
}

#adverbs {
  .--grid-three-columns {
    grid-template-columns: 1fr auto 0.5fr;
    justify-items: start;
    align-items: start;
  }
  .info-list__part--column {
    text-align: start;
    gap: 4px;
  }
}

.crossed {
  position: relative;
  overflow: hidden;
}

.crossed::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;

  background: linear-gradient(
    to top right,
    transparent calc(50% - 2px),
    var(--red60) calc(50% - 1px),
    var(--red60) calc(50% - 0.5px),
    var(--red60) calc(50% + 0.5px),
    var(--red60) calc(50% + 1px),
    transparent calc(50% + 2px)
  );
}

#present-continuous {
  .info-list__part--column {
    text-align: start;
  }
}

#past-perfect,
#past-perfect-continuous {
  .info-list__part--row {
    text-align: start;
  }
}

#reported-speech {
  .info-list__part--row {
    align-items: center;
  }
  .info-list__part-col:has(+ .info-list__part-col) {
    position: relative;
  }

  .info-list__part-col:has(+ .info-list__part-col)::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 2px;
    background-color: var(--w);
  }
  .info-list__part-col.--center {
    text-align: center;
  }
}

#subjunctive {
  .note__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

#used-to {
  .info-list__part {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

#adverbs-comparison {
  .--grid-three-columns {
    justify-items: start;
    align-items: start;
  }
  .--bd-r12 {
    border-radius: 12px;
  }
  .--grid-five-columns {
    text-align: center;
  }
}

#word-formation {
  .--grid-three-columns {
    grid-template-columns: auto auto 1fr;
    justify-items: start;

    .info-list__part--boxed {
      min-width: 90px;
      text-align: center;
    }
  }
}

#conjunctions {
  .conjuctions__custom-wrapper {
    display: flex;
    gap: 4px;
  }
  .custom-wrapper__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex: 1;
  }
  .conjuctions__custom-item-letter {
    border-radius: 8px;
    padding: 8px 12px 12px 12px;
    color: var(--w);
    align-self: stretch;
    text-align: center;
  }
}
