@font-face {
  font-family: "StratosSkyeng";
  src:
    url("../fonts/stratosskyengweb-regular.woff2") format("woff2"),
    url("../fonts/stratosskyengweb-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --orange90: #ff6d00;
  --orange20: #ffe4c2;
  --orange10: #fff2e0;
  --orange50: #ffb53d80;
  --orange60: #ff9e00;
  --orange-custom: #ffb53d;

  --yellow10: #fff7c7;
  --yellow60: #ffc700;

  --blue10: #e4fbff;
  --blue60: #00c1ff;

  --b: #000;
  --b64: #000000a3;
  --b48: #0000007a;
  --b10: #00000029;

  --red60: #ff4545;
  --red10: #ffebeb;
  --pink10: #ffebf5;
  --pink60: #ff64b0;

  --violet10: #f9ebff;
  --violet60: #d571ff;

  --salad60: #7ac100;
  --salad10: #f2ffbd;
  --salad40: #bcec30;

  --mint10: #dbffe9;
  --mint60: #40e687;

  --w8: #ffffffcc;
  --w64: #ffffffa3;
  --w48: #ffffff7a;
  --grey: #f4f4f4;
  --w: #ffffff;
}

.--bg-mint10 {
  background-color: var(--mint10) !important;
}
.--bg-yellow10 {
  background-color: var(--yellow10) !important;
}
.--bg-violet10 {
  background-color: var(--violet10) !important;
}
.--bg-salad10 {
  background-color: var(--salad10) !important;
}

.--bg-orange60 {
  background-color: var(--orange60) !important;
  color: var(--w) !important;
}
.--bg-pink10 {
  background-color: var(--pink10) !important;
}
.--bg-pink60 {
  background-color: var(--pink60) !important;
}

.--bg-grey {
  background-color: var(--grey) !important;
  color: var(--b) !important;
}

.--bg-blue10 {
  background-color: var(--blue10) !important;
}
.--bg-blue60 {
  background-color: var(--blue60) !important;
}

.--bg-red60 {
  background-color: var(--red60) !important;
  color: var(--w) !important;
}
.--bg-red10 {
  background-color: var(--red10) !important;
}
.--bg-orange10 {
  background-color: var(--orange10) !important;
}
.--bg-orange20 {
  background-color: var(--orange20) !important;
}
.--bg-salad60 {
  background-color: var(--salad60) !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "StratosSkyeng", sans-serif;
  font-weight: 400;
  font-variant-numeric: lining-nums proportional-nums;
}
ul {
  padding-inline-start: 2em;
  list-style-position: outside;
}
ol {
  padding-inline-start: 1em;
  list-style-position: outside;
}
img {
  pointer-events: none;
}
a {
  text-decoration: none;
  color: var(--black);
}
button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
html {
  overflow-x: hidden;
}
body {
  background-color: var(--grey);
}
.no-wrap {
  white-space: nowrap;
}
.page-spacer {
  display: block;
  margin-bottom: 16px;
}

.font-xxl {
  font-size: 26px;
  line-height: 106%;
  letter-spacing: -0.39px;
}

.font-xl {
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -0.192px;
}

.font-l {
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.16px;
}

.font-m {
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.09px;
}

.font-s {
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.048px;
}

.font-xs {
  font-size: 14px;
  line-height: 112%;
  letter-spacing: -0.014px;
}

.font-xxs {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.007px;
}

nav,
header,
aside {
  width: clamp(376px, 100%, 624px);
  margin: auto;
}
main {
  width: clamp(344px, calc(100% - 32px), 624px);
  margin: auto;
}

.--gap8 {
  gap: 8px !important;
}
.--gap4 {
  gap: 4px !important;
}
.--gap6 {
  gap: 6px !important;
}
